{% extends 'vpn/base.html' %}
{% load static %}
{% block content %}
    <div class="w-100 d-flex flex-column align-items-center">
        <div class="fs-1 p-4 text-primary">Welcome to VPN service</div>
        <div class="w-75">
            <p>In VPN service you can create your own site.</p>
            <p>To gain the ability to create site you should register.</p>
            <p>
                Links for sites and pages creation you'll find in account page.
                There will be statistic info also.
            </p>
            <p>To turn on and off vpn mode use links on left top of your screen.</p>
        </div>
    </div>
{% endblock %}